# Android 관련 기본 설정
.gradle/
local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/

# Log 파일 및 임시 파일
*.log
*.iml

# 환경 설정 파일
/fastlane/report.xml
/fastlane/Preview.html

# MacOS 관련 파일
.DS_Store

